/* Universal Styles */

body {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_foodlogo.png");
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

/* Navigation */

nav {
  margin-bottom: 0px;
  margin-top: 0px;
  width: 180px;
  text-align: center;
}

nav img {
  margin-bottom: 0px;
  margin-top: 0px;
  display: block;
}

nav span {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  display: block;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
}

nav a {
  color: #666666;
}

/* Content Container */

.content {

  height: 500px;
  width: 100%;
  margin: 10px auto 10px auto;
}

/* Content Header */
.header {
  height: 320px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_burgerphoto.jpeg");
  background-position: center;
  background-size: cover;
}

.header h1 {
  padding: 20px;
  background-color: #05A8AA;
  color: #FFF;
  margin: 0px auto 0px auto;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  width: 68%;
}

/* Content Body */

.content .body {
  margin: 0px auto 0px auto; 
  height: 500px;
  width: 90%;
}

.body p {
  color: #333333;
  font-weight: 100;
  line-height: 34px;
  width: 90%;
}

/* Content Button */

.button {
  border: blue, 10px;
  margin: 40px auto 40px auto;
  padding: 20px;
  width: 200px;
  border-radius: 4px;
  color: #05A8AA;
  display: block;
  font-weight: 700;
}

.button:hover {
  background-color: #05A8AA;
  color: #FFF;
}

/* Content Nutrition */

ul.nutrition {
  padding: 40px;

}

ul.nutrition li {
  margin-bottom: 3px;
  padding-top: 10px;
  padding-bottom:  10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 200px;
  display: inline-block;
  background-color: #05A8AA;
  list-style: none;
}

.nutrition .category {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  display: block;
}

.nutrition .value {
  color: white;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2px;
}
